input{
    width: 700px;
    font-size: 25px;
}

button{
    width: 300px;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
}
.barre{
    justify-content: center;
    gap: 7rem;
    padding-top: 70px;
}